<div class="bg-white py-12">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
      <form>
        <div class="form-group mb-6">
          <label
            for="exampleInputEmail1"
            class="form-label inline-block mb-2 text-gray-700"
            >Masukkan ID/TELEPON</label
          >
          <input
            type="email"
            class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
        </div>

        <div class="w-full bg-black my-5" style="height: 1px"></div>
        <div class="flex justify-between">
          <div>Saldo</div>
          <div class="font-bold">Rp12.0000</div>
        </div>
        <div class="w-full bg-black my-5" style="height: 1px"></div>
        <div class="flex justify-between">
          <div>Admin Fee</div>
          <div>Rp2.0000</div>
        </div>
        <div class="w-full bg-black my-5" style="height: 1px"></div>
        <div class="flex justify-between">
          <div>Total</div>
          <div>Rp2.0000</div>
        </div>

        <button
          type="submit"
          class="px-6 mt-10 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
